

a {
 text-decoration: none;
 font-size: 1.5rem;
 color: #000;
}
 
#menu,#contact,#about,#home,#action{
 display: none;
}
div h2{
  text-align: center;
  margin: 3rem;
}


.texto-css{
 text-shadow: 2px 2px 3px #000000;

}


